@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Kaushan+Script');

:root, * {
  box-sizing        : border-box;
}

html {
  min-height        : 100vh;
  width             : 100vw;
}

body {
  margin            : 0;
  padding           : 0;
  min-height        : 100vh;
  width             : 100vw;
  display           : flex;
  flex-direction    : column;
  justify-content   : center;
  align-items       : center;
  font-family       : 'Josefin Sans', sans-serif;
  font-size         : 1.5rem;
  color             : hsl(230, 100%, 90%);
  background        : hsl(220, 30%, 30%);
  background        : radial-gradient(
                      ellipse at center,
                      #344c7e 20%,
                      #283b60 80%
  );
}

/* Calculator */
#Calculator {
  display           : flex;
  flex-direction    : column;
  width             : 400px;
  background        : hsl(230, 30%, 20%);
  border-radius     : 5px;
  color             : #e61e5f;
  border            : 1px solid hsl(230, 34%, 30%);
  box-shadow        : hsla(230, 30%, 0%, 0.3) 0px 0px 50px;
  overflow          : hidden;
}

@media ( max-width: 499px ) {
  #Calculator {
    min-height      : 100vh;
    width           : 100%;
    border-radius   : 0;
    border          : none;
    box-shadow      : none;
  }
}



#Pads {
  display           : flex;
  width             : 100%;
}

  #Pads .container, #Pads .menu {
    padding         : 1rem;
    width           : 100%;
    min-height      : 100%;
    overflow        : hidden;
    flex-shrink     : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-wrap       : wrap;
    transition      : transform 300ms;
    transform       : translateX(0);
  }

  #Pads .hide {
    transform       : translateX(-100%);
  }

  #Pads .menu {
    color           : hsl(220, 41%, 80%);
    height          : 100%;
    align-content   : start;
  }

    #Pads .menu .goBack {
      font-size     : .8rem;
      padding       : 1rem 0;
      cursor        : pointer;
      width         : 100%;
      border-bottom : 1px solid hsl(220, 30%, 30%);
      border-top    : 1px solid hsl(220, 30%, 30%);
      color         : #e61e5f;
    }

      #Pads .menu .goBack:hover {
        color         : hsl(230, 100%, 90%);
      }

      #Pads .menu h6 {
        font-size       : 1.2rem;
        text-align      : center;
        margin          : 0;
        padding         : 1rem 0;
        font-family     : 'Kaushan Script', cursive;
        color           : hsl(230, 100%, 90%);
      }

      #Pads .menu p {
        font-size       : 1rem;
        line-height     : 1.4rem;
        margin          : 0;
        padding         : .3rem 0;
      }

      #Pads .menu a:link, #Pads .menu a:visited {
        font-size       : 1rem;
        text-decoration : underline;
        color           : hsl(230, 100%, 90%);
      }
      
      #Pads .menu a:hover {
        color           : #e61e5f;
        transition      : color 300ms;
      }

  #Pads .container .pad, #Pads .container .menuToggler {
    text-align      : center;
    flex-grow       : 1;
    flex-shrink     : 0;
    flex-basis      : 21%;
    padding         : 1.5rem 0rem;
    cursor          : pointer;
    border          : 1px solid hsl(230, 30%, 20%);
    border-radius   : 5px;
    transition      : color 300ms, background-color 300ms;
  }

    #Pads .container .sym {
      color         : hsl(230, 100%, 90%);
    }

    #Pads .container .pad:hover, #Pads .container .pad:active {
      background    : #e61e5f;
      color         : hsl(230, 30%, 20%);
    }

@media ( max-width: 499px ) {
  #Pads{
    height          : 60vh;
  }

  #Pads .container {
    padding         : 1rem;
    height          : 100%;
    align-items     : center;
  }

  #Pads .container .pad {
    padding         : 1rem 0rem;
    border          : none;
    border-radius   : none;
  }

}


#Display {
  background      : #e61e5f;
  background      : -moz-linear-gradient(
    -45deg,
    #e61e5f 10%,
    #f73773 80%
  );
  padding         : 3rem 1rem;
  border-radius   : 5px 5px 0 0;
  border-bottom   : 1px solid #fa6594;
  color           : hsl(230, 96%, 95%);
  text-align      : center;
  cursor          : default;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

  #Display h1 {
    font-size     : 3rem;
    margin        : 0 0 1rem 0;
    font-weight   : 400;
    color         : #ffc7d9;
  }

    #Display h1.hasManyDecimals {
      font-size   : 2.5rem;
    }


  #Display small {
    font-size     : 1rem;
    font-style    : italic;
    color         : #ffc7d9;
  }

@media ( max-width: 499px ) {
  #Display {
    height        : 35vh;
    margin        : 0;
    padding       : 0;
    border-radius : 0;
  }
  
  #Display h1 {
    font-size     : 3rem;
    margin        : 0;
  }

}


.brand {
  font-family : 'Kaushan Script', cursive;
  font-size   : 1.2rem;
  text-align  : center;
  color       : hsl(230, 100%, 90%);
  margin      : 0;
  padding     : 0.5rem 0;
  cursor      : default;
}

  .brand .highlighted {
    color     : #e61e5f;
  }

@media ( max-width: 499px ) {
  .brand {
    height    : 5vh;
  }
}